<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Nunito:300,400|Raleway:300,400,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>Python 30天学习 - {{ title}}</title>
    {% else %}
    <title>Python 30天学习</title>
    {% endif %}
</head>

<body>
    <header>
        <div class="menu-container">
            <div>
                <a class="brand-name nav-link" href="/">Python 30天学习</a>
            </div>
            <ul class="nav-lists">
                <li class="nav-list"><a class="nav-link active" href="{{ url_for('home') }}">首页</a></li>
                <li class="nav-list"><a class="nav-link active" href="{{ url_for('about') }}">关于</a></li>
                <li class="nav-list"><a class="nav-link active" href="{{ url_for('post') }}">文本分析</a></li>
            </ul>
        </div>


    </header>
    <main>
            {% block content %} {% endblock %}
    </main>
</body>

</html>
