readme-draft.md
readme13-18.md
readme19-24.md
readme25-30.md
playground.py
res.py
hello.py
backup.md
.DS_Store
__pycache__
playground/
playground
flask_project/venv
flask_project/ven/bin/
flask_project/venv/include/
flask_project/ven/lib
numpy.ipynb
.ipynb_checkpoints
.vscode/
test.py